 <div class="row">
   <div class="col-md-8">
     <div class="media">
       <br />
       <% avatar_url = @user.avatar_url(128) %>
       <% if avatar_url %>
         <div class="media-left">
           <%= image_tag avatar_url, class: 'media-object' %>
         </div>
       <% end %>
       <div class="media-body">
         <h2 class="media-heading"><%= @user.name %></h2>
         <small>
           <%= pluralize(@user.posts.count, 'post') %>,
           <%= pluralize(@user.comments.count, 'comment') %>
           <%= pluralize(@user.favorites.count, 'favorites') %>
         </small>
       </div>
     </div>
   </div>
 </div>
 
 <% if @user.posts.empty? %>
 <p><%= @user.name %> has not submitted any posts yet.</p>
 
 <% else %>
 
 <h2>Posts</h2>
 <%= render @user.posts %>
 
 <h2>Comments</h2>
 <%= render @user.comments %>
 
 <h2>Favorites</h2>
<% @user.favorites.each do |favorite| %>
  <% post = favorite.post %>
  <h3><%= post.title %></h3>
  <small>
    submitted <%= time_ago_in_words(post.created_at) %> ago by <%= post.user.name %> 
    <% avatar_url = post.user.avatar_url(128) %>
    <%= image_tag avatar_url, class: 'media-object' %>
  </small>

<% end %>
 
 <% end %>